.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Index css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  */

/* Start of my css ---------------------- */
body {
  background-color: #282c34;
  color: white;
}

/* Grid css ----------------------------- */
.gridItemsClass {
  background-color: rgba(51, 132, 212, 0.5);
  /* border: rgba(255, 255, 255, 0.549) solid 0.2em; */
}

.react-grid-item > .react-resizable-handle::after{
  /* background-color: white; */
  border-color: white !important;

}

.drag-handle {
  background-color: #051941;
}

.close {
  background-color: #051941;
}

.close :hover {
  background-color: red; 
}

.react-grid-item.react-grid-placeholder.cssTransforms.react-resizable-hide.react-resizable {
  background-color: rgb(255, 255, 255);
}

.PriceDown {
  color: rgb(255, 71, 71);
}

.PriceUp {
  color: greenyellow;
}

.react-resizable-handle.react-resizable-handle-se :hover {
  cursor: pointer;
}

/* Material UI */

.MuiTextField-root{
  color: white;
  border: rgb(255, 255, 255) solid 3px
}